html, body {
    height: 100%;
}
body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    background-attachment: fixed;
}
header {
    color: white;
}
.container {
    visibility: hidden;
}
#loading {
    display: flex;
    justify-content: center;
    visibility: visible;
}
header {
    font-size: 5em;
    text-shadow: 6px 6px black;
}
#title {
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
}
#movieDisplay {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
}
label {
    color: black;
}
card {
    color: black !important;
    display: flex;
    justify-content: space-between;
}
#userAddTitle {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-shadow: 2px 2px black;
}
ul {
    color: white;
    list-style: none;
}
#listTitle {
    font-weight: bold;
    font-style: italic;

}